[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
chromadb = "*"
pymongo = "*"
loggext = "*"
config-library = {extras = ["yaml"], version = "*"}
nltk = "*"
filelock = "*"
better-exceptions = "*"

[dev-packages]
fastapi = {extras = ["standard"], version = "*"}

[requires]
python_version = "3.10"
