[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
chromadb = "*"
pymongo = {extras = ["srv"], version = "*"}
loggext = "*"
config-library = {extras = ["yaml"], version = "*"}

[dev-packages]
better-exceptions = "*"

[requires]
python_version = "3.10"
